<div class="menu">
  <h2>Menú del Día</h2>
  <ul>
    <li>Plato del día 1</li>
    <li>Plato del día 2</li>
    <li>Plato del día 3</li>
    <!-- Agrega más elementos según los platos del día -->
  </ul>
</div>
<div class="menu">
  <h2>Menú de Tapas</h2>
  <ul>
    <li>Tapa 1</li>
    <li>Tapa 2</li>
    <li>Tapa 3</li>
    <!-- Agrega más elementos para las tapas -->
  </ul>
</div>
<div class="menu">
  <h2>Menú de Postres</h2>
  <ul>
    <li>Postre 1</li>
    <li>Postre 2</li>
    <li>Postre 3</li>
    <!-- Agrega más elementos para los postres -->
  </ul>
</div>
